.disflex {
  display: flex;
}

main {
  width: 25%;
  margin: 0 10%;
}

header {
  align-items: center;
  justify-content: space-between;
}

.leader-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 1px solid;
}

.list-item p {
  margin: 4px;
}

.form {
  margin-right: 30%;
}